<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Up
        </title>
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js\utils.js">

        </script>
        <!--
            TODO: add reference external style.css file
        -->
    </head>
    <body>

    <!--
        TODO: add alert_welcome function from external utils.js file
        TODO: call alert_welcome
    -->

    <!--

        TODO: create html components to capture user input
        TODO: make sure to set required inputs
        TODO: add styling from style.css to submit button
    -->
    <br><br><br><br><br><br><br><br><br><br>
    <form  action="index.html" method="post">
      <label>Email: </label>
      <input type="text" name="email" value="">
      <br> <br>
      <label>Username: </label>
      <input type="text" name="username" value="">
      <br> <br>
      <label>Password: </label>
      <input type="text" name="password" value="">
      <br> <br>
      <input type="submit" onclick="alert_welcome()" >
    </form>
      </body>
</html>
